In [1]:
import pymysql
import pandas as pd
dbConn = pymysql.connect(user='root', passwd='12345678', host='192.168.85.137', db='madang',charset='utf8')
cursor = dbConn.cursor(pymysql.cursors.DictCursor)

In [2]:
def query(sql):
    cursor.execute(sql)
    result = cursor.fetchall()
    return pd.DataFrame(result)

In [3]:
query("select * from Book")

   bookid           bookname publisher  price
0       1             축구의 역사      굿스포츠   7000
1       2            축구아는 여자       나무수  13000
2       3             축구의 이해     대한미디어  22000
3       4             골프 바이블     대한미디어  35000
4       5              피겨 교본      굿스포츠   8000
5       6           역도 단계별기술      굿스포츠   6000
6       7             야구의 추억     이상미디어  20000
7       8            야구를 부탁해     이상미디어  13000
8       9            올림픽 이야기       삼성당   7500
9      10  Olympic Champions   Pearson  13000